html {
	position: relative; 
	min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
  background-color: teal;
}

#main {
	text-align: center;
}

#fingerPic {
	 width: 100%;
	 padding: 0;
}

#jumbo {
	max-width: 630px;
    background-color: #dd6300;
    text-align: center;
}

img {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 60px;
}

h2 {
	font-size: 20px;
}

.btn {
	background-color: gray;
	border-color: gray;
}

a {
	color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10px;
}

