html {
	position: relative; 
	min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
  background-color: teal;
}

.form-control {
	/*background-color: #dd6300;*/
/*	border-color: #dd6300;*/
	color: black;
}

#userName {
	width: 205px;
}

#userPhoto {
	width: 205px;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	font-size: 60px;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 40px;
}

.btn {
	background-color: gray;
	border-color: gray;
}

a {
	color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10px;
}